/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
    height: 100%;
    width: 100%;
}


body{
  font-family: 	"微軟正黑體";
}

*{
    box-sizing: border-box;
}
  
*:before,*:after{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}


a{
  text-decoration: none;
}
  

.flex{
    display: flex;
  
}


.wrap{
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}



.sidebar{
  width: 420px;  
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  transition: all 1s;
}

.sidebar.transform{
    transform: translateX(-100%);
}


@media( max-width:767px){
    .sidebar{
        width: 300px;  
        transform: translateX(-100%);
    }
   
    .sidebar.transform{
        transform: translateX(0);
    }

}




.sideBtn{
  position: absolute;  
  right: -15px;
  top: 151px;
  height: 50px;
  width: 15px;
  background-color: #73C0D8;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.fa-arrow-left:before{
   line-height: 50px;
}

.sideBtn.rotate{
    animation: transform_rotation 1s 
}


@keyframes transform_rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}


.emptyHint{
    display: none;
    position: absolute;
    font-size: 30px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: #757575;
}


.loading{
   
    position: absolute;
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 7px dashed #73C0D8;
    border-radius: 100%;
    animation: rotation 4s infinite linear; 
} 


.listLoading{
    left: 50%;
    top:50%; 
} 


@keyframes rotation{
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}


.searchDiv{
    padding: 0.5em;
    background-color: #73C0D8;
}



#City,#Dist{
    flex: 1;
    border-radius: 20px;
    font-size: 16px;
    padding: 0.5em;
    margin: 1em 0;
    outline: none;
    font-family: "微軟正黑體";
}



#Dist{
    margin-left: 0.25em;
}


.search{
    position: relative;
}



.search input[type="text"]{
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 0.5em;
    padding-left: 1em;
    margin: 1em 0;
}

.search input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "微軟正黑體";
  
  }

.searchIcon{
    display: block;
    position: absolute;
    color: #a5a5a5;
    padding: 0 1em ;
    right: 4px;
    top: 50%;
    transform: translateY(-50%); 
}




.list{
    overflow-y: auto;
    background-color: white;
}


.list > li{
    padding: 1em;
    border-bottom: 1px solid #D9D9D9;
   
}


.title{
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title .pharMarker{
    color: #73C0D8;
    font-size: 30px;
}

.title .name{
    font-size: 20px;
    font-weight: bold;
}

.info{
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}

.info span{
    color: #666666;
    padding: 0.25em 0 ;
}


.maskStock{
    display: flex;
  
}

.maskStock .adult,
.maskStock .child{
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-radius: 15px;
    padding: .25em 0.5em;
    color: #FFFFFF;
    font-weight: bold;
}

.maskStock .child{
    margin-left: 1em;
}


.btnBlue{
    background: #73C0D8;
}

.btnOrange{
    background: #FFA573;
}

.btnGray{
    background: #A5A5A5;
}


#map.transform{
    transform: translate(0);
    width: 100%;
}


#map
{ 
  height: 100%;
  width: calc( 100% - 420px );
  transform: translateX( 420px) ;
  position: relative;
  transition: all 1s;
}


@media( max-width:767px){
    #map{
        transform: translateX(0);
        width: 100%;
    }

}

.mapLoading{
  left: 50%;
  top: 50%;
}


.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}


.popInfo{
    font-size: 14px;
}
